RewriteEngine On
Options All -Indexes
Options +FollowSymLinks

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

<ifmodule mod_security.c>

    SecFilterEngine Off
    SecFilterScanPOST Off
    
</ifmodule>
    
    <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
    </IfModule>